# Modules needed in the CI environment

pytest==5.3.1
pytest-mock==1.13.0
pytest-cov==2.8.1
requests==2.22.0
python-dotenv==0.10.3
azureml-sdk==1.0.79
flake8==3.7.9
flake8_formatter_junit_xml==0.0.6
tox==3.14.3
azure-cli==2.0.77
# required for azure.common.credentials.get_azure_cli_credentials
azure-core==1.1.1

# Databricks utilities

databricks-test==0.0.1
databricks-client[azurecli]==0.0.1

# Runtime modules - match Databricks runtime 6.2

pyspark==2.4.4
pandas==0.24.2
pyarrow==0.13.0
